// Define variables for your color scheme

// For example:
$red: #DA3F4C; // CTA Landing Page (herobanner + nav) & Dashd("+"" & "add a meeting")
$orange: #E9664B; // For Coloring Display Text in Orange // Select Sport: Slider Color
$orange1: #F59442; // Darker ==> LP: testimonial color // Select Sport: bg-color for upper info div // Dashboard: btn bg-color Feedback / card: bg color average mood
$orange2: #FAC599; // Lighter ==> Dashd: btn Home / tab overall satisfaction / card, bg-color for each avatar
$orange3: #FBD3B1; // Even Lighter ==> Dashd: card / bg-color for Daily Steps
$orange4: #0E0E0E; // Lightest ==> Dashd: card / bg-color for Energie burned
$gray: #F4F4F4; // Dashd: bg-color info container // Select Sport: bg-color bottom info
$dark-display: #3C3C3C; //h1 & h2
$dark: #000000; //text & paragraphs
$green: #47B379; // CTA modals when input completed / Succes: border, minutes, icon & title / +Pricing on pricing page
$blue: #6996B6; // for everything blue on the modal "mmetings / new"
$white: #ffffff;
$yellow: #FFC65A;
$dark-gray: rgb(100,100,100);
