.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.bouton-CTA {
    //display: inline-block;
    width: 300px;
    margin-left: 350px;
    margin-right: 10px;
    padding: 4px 20px;
    background-color: $red;
    border-radius: 3px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box !important;
    &:hover {
      background-color: $orange1;
      text-decoration: none !important;
      color: white;
    }
  }


.sidebar {
  border-radius: 5px;
}
.nav-link {
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 700;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}
.bouton-link-dash {
  display: inline-block;
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  padding: 0px 8px;
  background-color: $orange1;
  border-radius: 3px;
  font-size: 8px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box !important;
  width: 100%;
  &:hover {
    background-color: $orange2;
    text-decoration: none !important;
    color: white !important;
  }
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #ffffff;
    background-color: $orange1;
  &:hover {
    background-color: $red;
    text-decoration: none !important;
    color: white !important;
  }
}

.nav-pills .nav-pills .show > .nav-link {
    color: #ffffff;
    background-color: $orange1;
  &:hover {
    background-color: $red;
    text-decoration: none !important;
    color: white !important;
  }
}

.image-create-meeting {
background-color: white;
margin-left: -15px;
height: 500px;
}

.image-celebration {
  align-items: center;
  height: 450px;
  padding-left: 250px;
}

.container-home-dashboard{
  margin-left: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  //margin-top: 20px;

}

.card-users {
  margin-top: 50px;
  background-color: $gray;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
}
.container-graph {
  //display: grid;
  background-color: $gray;
  //grid-template-columns: 1fr 1fr;
  border-radius: 1px;
  //text-align: center;
  align-center: center;
  //padding-left: 150px;

}
.nav-pills .nav-link {
    border-radius: 0px;
}


.tof {
 margin-left: 10px;
}

.card-history {
  //display: grid;
  //grid-template-columns: 1fr 1fr 1fr;
  //grid-template-columns: 60px 60px;
  //grid-template-rows: 90px 90px;
  //grid-gap: 28px;
  overflow: scroll;
  padding: 25px;
  background-color: white;
  width: 600px;
  margin: 20px;
  padding-left: 40px;
  margin-left:50px;
  height: 580px;
}

.past {
  border: 0px;
  //color: $orange1;
  margin-top: 15px;
  opacity: 0.4;
  font-weight: bold;
}

.past p {
  margin-bottom: 7px;
}

.title-company{
  height: 50px;
  padding-top: -20px;

}

.title-company-img {
  height: 100px;
  width: 200px;
  padding-right: 15px;
}

.container-new-meeting{

  color: $orange1;
  margin: 20px;
  padding: 25px;
  background-color: white;
  width: 580px;
  font-weight: bold;
}

.container-new-meeting p {
  color: black;
  margin-top:10px;
}

.container-past-meeting{
  background-color: white;
}

.past-card-meeting {
  overflow: hidden;
  position: relative;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  //width: 450px;
  margin-bottom: 60px;

}

.past-card-meeting img {
  height: 100%;
  width: 50%;
  object-fit: cover;
  //opacity: 0.6;
}

.past-photos {
background-image: -webkit-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}

.past-card-meeting h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  opacity: 0.5;
  color: $orange1;
}

.past-card-meeting p {
  font-size: 8px;
  line-height: 1.4;

  margin-bottom: 15px;
  opacity: 0.5;
  //margin-top: 8px;
}

.past-card-meeting-infos {
  padding: 32px;
  //display: flex;
  //align-items: center;
  //justify-content: space-between;
  width: 100%;
}

.card-meeting-future {
  overflow: hidden;
  //height: 50px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  //display: flex;
  align-items: center;
  //margin-top: 30px;
  //width: 600px;
}



#list-meetings {
  margin-top: 25px;
  margin-bottom: 10px;
}

.card-meeting-future img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-meeting-future h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 5px;
}

.card-meeting-infos-future {
  padding: 20px;
  //display: flex;
  align-: left;
  //justify-content: space-between;
  width: 100%;
  background-color: white;
  position: relative;
}

.card-meeting-infos-future .title {
  color: orange;
  font-size: 16px;
}
.card-meeting-infos-future .activity p{
  color: #313030;
  font-size: 12px;
}
.card-meeting-infos-future .paragraph p{
  color: gray;
  font-size: 9px;
}

.next-meeting-parked {
  overflow: hidden;
  height: 80px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  //width: 450px;
  margin-top: 5px;
}

.next-meeting-parked img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.next-meeting-parked h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.next-meeting-parked p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.next-meeting-parked .next-meeting-parked-recap {
  padding: 16px;
}

.card-meeting-pricing {
  padding: 0px;
}

.card-meeting-pricing-future {
  padding: 0px;
  color: white;
  margin: 10px;
}

.card-meeting-pricing-future h2 {
  //font-size: 8px;
  font-weight: bold;
  margin: 0;
  padding-top: 10px;
}

.card-meeting-pricing h3 {
  font-size: 10px;
  font-weight: bold;
  opacity: 0.4;
  }

.next-meeting-parked {
  background-color: white;
}

.past-card-meeting-infos .sticky-date {
  position: absolute;
  color: $orange1;
  opacity:0.6;
  font-size: 12px;
}

.fa-plus-circle {
  font-size: 50px;
  color: white;
}

main {
  background-color: #f4F4F4;
  padding-bottom: 80px;
  width: 100%;
  }

.fonticon {
  font-size: 40px;
  color: $orange1;
  margin-bottom: 16px;
}
.icontext {
  font-size: 12px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}
.card-kpi {
  background-color: $orange4;
  padding: 40px;
  width: 200px;
  height: 150px;
  border-radius: 5px;
  // border: 0.5px solid $red;
  box-shadow: 8px 4px 4px $red;
}
.username {
  margin-left: -160px;
  font-family: "Open Sans", sans-serif;
}
.dashboard-content {
  margin-top: -500px;
}
.global-analytics-title {
  margin-top: 0px;
  background-color: $gray;
  height: 15vh;
  margin-left: 32px;
}
.global-analytics-data {
  margin-top: 0px;
  background-color: $dark;
  height: 50vh;
  width: auto;
  margin-left: 32px;
  margin-top: 0vh;
  padding-left: 100px;
}
.team-analytics-title {
  margin-top: 0px;
  background-color: $orange1;
  height: 15vh;
  margin-left: 24px;
}
.team-analytics-data {
  margin-top: 0px;
  background-color: $orange3;
  height: 50vh;
  margin-left: 24px;
}
.name-dropdown {
  background-color: $orange1;
  padding-top: 4px;
  text-align: left;
  margin-top: -8px;
}
.text-funnel-dash {
  font-weight: 400;
  font-size: 18px;
  color: white;
  text-align: center;
}
.link-dash  {
  background-color: $gray;
}
.first-link-dash {
  margin-top: -16px;
}
.second-link-dash {
  margin-bottom: -8px;
}
.dashboardbody {
  background-color: $gray;
}
.tabs-dash {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.leftdivdash  {
  flex: 0 0 200px;
}
.rightdivdash {
  flex: 0 0 200px;
}
.card-meeting-infos-future .date-meeting {
  position: absolute;
  /* right: 10px; */
  bottom: 128px;
  //color: $orange;
  font-size: 11px;
  left: 350px;
}
  .date-meeting-past {
    color: $red;
  font-size: 10px;
  margin-top: 10px;
  opacity: 0.7;
  }
  .card-dashcard {
    background-color: white;
    height: 65vh;
    border-radius: 5px;
    margin: 12px;
  }
  .orangebg1 {
    background-color: $orange2;
    height: 10vh;
  }
  .orangebg2 {
    background-color: $orange4;
    height: 10vh;
  }

.date-meeting-past {
  color: $red;
font-size: 10px;
margin-top: 10px;
opacity: 0.7;
}
.card-dashcard {
  background-color: white;
  height: 65vh;
  border-radius: 5px;
  margin: 12px;
}

.svg-container1 {
  position: absolute;
  top: -30px;
  left: -20px;
  width: 100%;
}
.svg-container2 {
  position: absolute;
  top: -30px;
  left: 0px;
  width: 100%;
}
.icon-analytics {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-top: -12px;
  margin-right: 16px;
}
.overflowavatar {
  overflow-y: hidden;
}
.texttoggle {
  text-decoration: none;
}
.fa-check-circle {
  color: $green;
}
.card {
  border: 1px solid rgba(0, 0, 0, 0.0425);
}
.icon-anal {
  font-size: 24px;
  margin-right: 26px;
  color: $orange1;
}
.card-metric {
background-color: $gray;
padding-top: 8px;
padding-right: 8px;
border-radius: 4px;
}
.card-body-member {
  background-color: $orange4;
  margin-top: 8px;
  margin-bottom: 4px;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

}
