.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.sidebar {
  border-radius: 5px;
}
.nav-link {
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 700;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}
.bouton-link-dash {
  display: inline-block;
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  padding: 0px 8px;
  background-color: $orange1;
  border-radius: 3px;
  font-size: 8px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box !important;
  width: 100%;
  &:hover {
    background-color: $orange2;
    text-decoration: none !important;
    color: white !important;
  }
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #ffffff;
    background-color: $orange1;
  &:hover {
    background-color: $red;
    text-decoration: none !important;
    color: white !important;
  }
}

.nav-pills .nav-pills .show > .nav-link {
    color: #ffffff;
    background-color: $orange1;
  &:hover {
    background-color: $red;
    text-decoration: none !important;
    color: white !important;
  }
}
.card-users {
  margin-top: 50px;
  background-color: $gray;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
}
.container-graph {
  background-color: white;
  //height: 300px;
  border-radius: 1px;
}
.nav-pills .nav-link {
    border-radius: 0px;
}


.tof {
 margin-left: 10px;
}

.card-history {
  //display: grid;
  //grid-template-columns: 1fr 1fr 1fr;
  //grid-template-columns: 60px 60px;
  //grid-template-rows: 90px 90px;
  //grid-gap: 28px;
  padding: 25px;
}

.past {
  border: 0px;
  color: $orange1;
  margin-bottom: 15px;

}

.title-company{
  height: 50px;
  padding-top: -20px;

}

.title-company-img {
  height: 100px;
  width: 200px;
}

.card-meeting {

  overflow: hidden;
  height: 50px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 30px;
  width: 600px;

}

.card-meeting img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  opacity: 0.6;
}

.past-photos {
background-image: -webkit-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}

.card-meeting h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding-top: 15px;
  opacity: 0.3;
}

.card-meeting p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 15px;
  opacity: 0.3;
  //margin-top: 8px;
}

.card-meeting-infos {
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: $orange4;
}

.card-meeting .card-meeting-infos ul {
  //display: inline;
  display: flex;
  align-items: center;
}

.card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 20px;
}
main {
  background-color: #f4F4F4;
  padding-bottom: 80px;
  width: 100%;
  }
.fonticon {
  font-size: 40px;
  color: $orange1;
  margin-bottom: 16px;
}
.icontext {
  font-size: 12px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}
.card-kpi {
  background-color: $orange4;
  padding: 40px;
  width: 200px;
  height: 150px;
  border-radius: 5px;
  // border: 0.5px solid $red;
  box-shadow: 8px 4px 4px $red;
}
.username {
  margin-left: -160px;
  font-family: "Open Sans", sans-serif;
}
.dashboard-content {
  margin-top: -500px;
}
.global-analytics-title {
  margin-top: 0px;
  background-color: $gray;
  height: 15vh;
  margin-left: 32px;
}
.global-analytics-data {
  margin-top: 0px;
  background-color: $dark;
  height: 50vh;
  width: auto;
  margin-left: 32px;
  margin-top: 0vh;
  padding-left: 100px;
}
.team-analytics-title {
  margin-top: 0px;
  background-color: $orange1;
  height: 15vh;
  margin-left: 24px;
}
.team-analytics-data {
  margin-top: 0px;
  background-color: $orange3;
  height: 50vh;
  margin-left: 24px;
}
.name-dropdown {
  background-color: $orange1;
  padding-top: 4px;
  text-align: left;
  margin-top: -8px;
}
.text-funnel-dash {
  font-weight: 400;
  font-size: 18px;
  color: white;
  text-align: center;
}
.link-dash  {
  background-color: $gray;
}
.first-link-dash {
  margin-top: -16px;
}
.second-link-dash {
  margin-bottom: -8px;
}
.dashboardbody {
  background-color: $gray;
}
.tabs-dash {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.leftdivdash  {
  flex: 0 0 200px;
}
.rightdivdash {
  flex: 0 0 200px;
}
