
<%= image_tag "https://www.dropbox.com/s/4hq7iczfih7enj9/KickMaker.png?dl=0" %>

<div class="banner">
  <div class="container">

    <div class="d-flex flex-column justify-content-left align-items-center"></div>
      <h1 class="display"> For <span id="banner-typed-text"></span>Teams</h1>
      <p class="text-tab-dash landingpaddingcontent">Everything to switch from endless meetings<br>to productive sport sessions</p>
      <%= link_to "Try it free", new_user_registration_path, class: 'bouton-red' %>
  </div>

</div>

<div class="footer footer-icons d-flex flex-column align-items-center">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>

