.agenda-duration {
  color: $red;
  text-align: center;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
}

.add-agenda {
  margin: 0px 0;
  margin-top: -16px;
  background-color: $orange1;
  color: white;
  border-color: $orange1;
  opacity:0.5;
  &:hover {

    color: white;
    background-color: $red;
    border: 1px solid $red;
  }
}


.form-control-range {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background: $blue;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top:8px;
}

.form-control[readonly] {
background-color: white;
}

.form-control-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: $red;
  cursor: pointer;
}

.form-control-range::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $red;
  cursor: pointer;
}

.agenda-bullet-section.hide {
  display: none;
}

.agenda-bullet-section {
  height: 0px;
  width: 100%;
  opacity: 0;
  transition: all 0.6s ease;
}

.agenda-bullet-section.show {
  opacity: 1;
  height: 230px;
  width: 100%;
}

.unhide-bullet {
  margin: 24px 0;
}

.btn-agenda-unhide {
  color: $orange1;
  opacity: 0.5;
  text-align: center;
  background-color: $white;
  border: 1px solid $orange1;
  border-radius: 3px;
  &:hover {
    opacity: 1;
    color: white;
    background-color: $red;
    border: none;
    border-radius: 3px;
  }
}
