.bouton-green {
  background-color: #47B379;
  border-radius: 5px;
  padding: 8px;
  color: white;
  font-size: 16px;
}
.bouton-blue {
  background-color: #6996B6;
  border-radius: 5px;
  padding: 8px;
  color: white;
  font-size: 16px;
}
.bouton-red {
    display: inline-block;
    width: 240px;
    padding: 12px 36px;
    background-color: $red;
    border-radius: 100px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box !important;
    &:hover {
      background-color: $orange1;
      text-decoration: none !important;
      color: white;
    }
}
.bouton-text {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    color: $dark;
    background-color: transparent;
    border-radius: 0px;
    border: none;
    text-decoration: none;
    text-align: center;
    &:hover {
      text-decoration: none !important;
      color: $orange1;
    }
}
.bouton-red-smaller {
    display: inline-block;
    width: 150px;
    padding: 12px 12px;
    background-color: $red;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box !important;
    &:hover {
      background-color: $orange1;
      text-decoration: none !important;
      color: white;
    }
}
.bouton-red-smaller-dash {
    display: inline-block;
    width: 160px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 8px 12px;
    background-color: $red;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box !important;
    &:hover {
      background-color: $orange1;
      text-decoration: none !important;
      color: white;
    }
}
.bouton-red-smaller-dash2 {
    display: inline-block;
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    padding: 4px 8px;
    background-color: $red;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box !important;
    width: 100%;
    &:hover {
      background-color: $orange1;
      text-decoration: none !important;
      color: white;
    }
}
.bouton-red-nav {
  margin-left: 47px;
  width: 130px;
  height: 40px;
  padding: 10px 32px;
  margin-top: 0;
  font-size: 13px;
  background: #f4364c;
  text-align: center;
  text-transform: none;
  text-shadow: none;
  color: white;
  border-radius: 80px;
  &:hover {
    background-color: $orange1;
    text-decoration: none;
    color: white;
  }
}
.bouton-white-nav {
  margin-left: 16px;
  margin-right: 24px;
  width: 130px;
  height: 40px;
  padding: 10px 32px;
  margin-top: 0;
  font-size: 13px;
  border: 1px solid #999;
  border-radius: 80px;
  border-color: #b3b3b3;
  color: #666;
  text-align: center;
  text-transform: none;
  text-shadow: none;
  &:hover {
    border-color: #666666;
    text-decoration: none;
    color: #666;
  }
}
.bouton-text-nav {
  color: #454A51;
  font-size: 14px;
  height: auto;
  position: relative;
  font-weight: 600;
  text-decoration: none;
  vertical-align: middle;
  margin-left: 40px;
  &:hover {
    text-decoration: none;
    color: #454A51;
  }
  &:hover:after {
      content: '';
      width: calc(100% + 20px);
      height: 2px;
      background-color: #f4364c;
      position: absolute;
      right: -10px;
      bottom: -30px;
  }
}
.bouton-text-nav-dash {
  color: $dark;
  font-size: 20px;
  height: auto;
  position: relative;
  font-weight: 600;
  text-decoration: none;
  vertical-align: middle;
  margin-left: 40px;
  &:hover {
    text-decoration: none;
    color: $red;
  }
  &:hover:after {
      content: '';
      font-size: 16px;
      width: calc(100% + 20px);
      height: 2px;
      background-color: #f4364c;
      position: absolute;
      right: -10px;
      bottom: -20px;
      color: $red;
  }
  &:focus {
    color: $red;

  }
}
.activedash {
  color: $red;
  font-size: 20px;
  height: auto;
  position: relative;
  font-weight: 600;
  text-decoration: none;
  vertical-align: middle;
  margin-left: 40px;
}
.bouton-login {
    background: #0089ff;
    color: #fff;
    font-weight: 600;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 30px;
    font-size: 14px;
    height: 48px;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(36,129,215,0.05), 0 2px 3px rgba(36,129,215,0.04);
    display: block;
    width: 100%
}
.feedback {
  background-color: $orange1;
  border-radius: 25px;
  color: white;
  text-decoration: none;
}
.bouton-text-dash {
  color: white;
  font-size: 14px;
  height: auto;
  position: relative;
  font-weight: 600;
  text-decoration: none;
  vertical-align: middle;
  margin-left: 40px;
  &:hover {
    text-decoration: none;
    color: #454A51;
  }
}
.dash-btn-1 {
  border-radius: 8px;
  color: white;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 2px;
  display: block;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.dash-text-1 {
  background-color: $orange1;
  color: white;
  font-size: 16px;
  height: auto;
  position: relative;
  font-weight: 600;
  text-decoration: none;
  vertical-align: middle;
  letter-spacing: 4px;
}
.bouttons {
  background-color: $orange1;
  border-radius: 15px;
}
.red-cta-dash {
  background-color: $red;
  border-radius: 15px;
}
