.slider-meeting {
  display: flex;
}

.slider-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}


.slider-activity-picker {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 1200px;
  margin: 0 auto;
}

#activities {
  display: flex;
  justify-content: space-between;
}

.form-right-img-meeting img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}


.hidden-slide {
  display: none;
}

.fade-in {
  height: 100%;
  width: 0px;
  opacity: 0;
  transition: all 0.4s ease;
}

.fade-in.show {
  // position: absolute;
  // top: 64px;
  opacity: 1;
  height: 100%;
  width: 100%;
}


.slider-btn {
  width: 150px;
  text-align: center;
  padding: 16px;
  border-radius: 4px;
}

.slider-btn.next-btn {
  background-color: $orange1;
  color: $white;
  &:hover {
    background-color: $orange2;
    color: $gray;
  }
}

.slider-btn.previous-btn {
  background-color: $dark-gray;
  color: $white;
  &:hover {
    background-color: $gray;
    color: $black;
  }

}

.slider-change {
  display: flex;
  justify-content: space-around;
  margin-top:10px;
}

.slider-indicators-container {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-indicators {
  background-color: $orange2;
  height: 2px;
  width: 5%;
  margin: 0 4px;
}

.slider-indicators.active {
    background-color: $orange;
  }


