.body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
}
.display {
  font-family: 'Merriweather', sans-serif;
  font-size: 56px;
  font-weight: 700;
  margin-top: -40px;
}
.display-2 {
  font-family: 'Merriweather', sans-serif;
  font-size: 42px;
  font-weight: 700;
}
.display-dash {
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  margin-left: 40px;
}
.display-funnel {
  font-family: 'Merriweather', sans-serif;
  font-weight: 300;
  font-size: 34px;
}
.text-funnel {
  font-weight: 300;
  font-size: 18px;
}
.active-card-content {
font-size: 14px;
font-weight: 300;
}
.inactive-card-content {
font-size: 8px;
font-weight: 300;
}
.inactive-card-title {
  font-weight: 400;
  font-size: 16px;
}
.text-tab-dash {
  font-weight: 400;
  font-size: 20px;
}
.figure-dash {
  font-weight: 700;
  font-size: 30px;
}
.button-dash {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 8px;
  padding: 8px;
  color: white;
  text-decoration: none;
}
.awesome {
  font-weight: 700;
  font-size: 34px;
  color: #47B379;
}
.lighter {
  font-weight: 300;
}

.orange1 {
  background-color: #F59442;
}
.orange2 {
  background-color: #FAC599;
}
.orange3 {
  background-color: #FBD3B1;
}
.orange4 {
  background-color: #0E0E0E;
}
.red {
  background-color:#DA3F4C;
}
#text-orange {
  color: #F59442;
}
.container-sign-in {
  width: 350px;
  margin: 0px auto;
}
.icon-dash {
  width: 20px;
  height: 20px;
}
.menu-dash {
  padding: 30px;
}
