.body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: $dark;
}
p {
    font-size: 18px;
    margin-bottom: 15px;
}
.display {
  font-family: 'Merriweather', sans-serif;
  font-size: 56px;
  font-weight: 700;
  margin-top: 40px;
}
.display-2 {
  font-family: 'Merriweather', sans-serif;
  font-size: 42px;
  font-weight: 700;
  color: $dark-display;
}
.display-dash {
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  margin-left: 150px;
}
.display-dash-cd {
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  margin-top: 16px;
  margin-left: 60px;
}
.display-funnel {
  font-family: 'Merriweather', sans-serif;
  font-weight: 300;
  font-size: 34px;
}
.text-funnel {
  font-weight: 300;
  font-size: 18px;
  color: $dark;
}
.active-card-content {
font-size: 14px;
font-weight: 300;
}
.inactive-card-content {
font-size: 8px;
font-weight: 300;
}
.inactive-card-title {
  font-weight: 400;
  font-size: 16px;
}
.text-tab-dash {
  font-weight: 400;
  font-size: 20px;
}
.figure-dash {
  font-weight: 600;
  font-size: 24px;
}
.text-icon-dash-dash {
  font-weight: 400;
  font-size: 16px;
  color: $dark;
  text-align: center;
}
.button-dash {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 8px;
  padding: 8px;
  color: white;
  text-decoration: none;
}
.awesome {
  font-weight: 700;
  font-size: 34px;
  color: #47B379;
}
.lighter {
  font-weight: 300;
}

.orange1 {
  background-color: $orange1;
  &:hover {
    background-color: $red;
  }
}
.orange1-sidebar {
  background-color: $orange1;
}
.orange2 {
  background-color: $orange2;
  &:hover {
    background-color: $red;
    column-rule: white;
    text-decoration: none;
  }
}
.orange3 {
  background-color: $orange3;
  &:hover {
    background-color: $red;
    column-rule: white;
    text-decoration: none;
  }
}
.orange4 {
  background-color: $orange4;
  &:hover {
    background-color: $red;
  }
}
.orange4-sidebar {
  background-color: $orange4;
}
.red {
  background-color: $red;
}
#text-orange {
  color: $orange1;
  text-align: left;
}
#text-orange1 {
  color: $orange1;
  text-align: left;
  font-size: 16px;
  margin-top: -60px;
  letter-spacing: 3px;
  font-family: "Open Sans", sans-serif;
}
.container-sign-in {
  width: 350px;
  margin: 0px auto;
}
.icon-dash {
  width: 20px;
  height: 20px;
}
.menu-dash {
  padding: 30px;
}
.background-grey {
  background-color: $gray;
  border-radius: 5px;
}
.imageSlider {
  margin-top: -180px;
}
.container-slider {
  width: 450px;
  margin: 0px auto;
}
.container-slider2 {
  width: 450px;
  margin: 0px auto;
  padding: 16px;
}
.container {
  max-width: 1300px;
}
.container-avatarlist {
  width: 750px;
  margin: 0px auto;
  margin-bottom: -200px;
}
#icon-hearbeat {
    -webkit-animation-name: heartbeat2;
    animation-name: heartbeat2;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}
.container-dash-card {
  width: 700px;
  margin: 0px auto;
  margin-bottom: 0px;
}
.display-funnel2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: white;
  text-align: center;
  letter-spacing: 2px;
}
 .btn-success:disabled {
    color: #ffffff;
    background-color: $red;
    border-color: $red;
    &:hover {
      background-color: $green;
      border-color: $green;
    }
}
#boutonpreviousactivity {
  position: absolute;
  bottom: 100px;
  right: 48px
}
.subinfoactivity {
  font-size: 14px;
  color: $dark;
  font-weight: 400;
  margin-top: -8px;

}
